html, body {
  height: 100%;
  width: 100%;
  background-image: url("https://media.istockphoto.com/id/672556284/photo/green-felt-and-playing-chips-abstract-background.jpg?b=1&s=170667a&w=0&k=20&c=A17sORZzz2wlEhDbr1esvn91uPYLdp_BpC70ikwmCXE=");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: 50% 50%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 3px;
}

h1 {
  color: goldenrod;
  text-align: center;
  padding-top: 15px;
  font-size: 45px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

#message-el {
  color: white;
  font-style: italic;
  font-size: 21px;
}

button {
  background-color: black;
  color: goldenrod;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
  border: 3px goldenrod solid;
  margin-bottom: 8px;
}
